.nofee {
    background: url(../../assets/images/bank-tree.jpeg) center/cover;
    margin: 36px 0;
    height: 380px;
    position: relative;

    .nofee-content {
        position: relative;
        top: 2rem;
        width: 300px;
       left: 38rem;
        background: white;
        padding: 2rem;
        margin: 0 auto;
    }
    .subtitle {
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0;
    }
}