@media (min-width: 920px) {
    .hero-content {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 2rem;
    }
    .account {
        flex-direction: row;
    }

}
